*{
    margin: 0;
    padding: 0;
}

.navbar .navbar-nav li a 
{
    color: white !important;
    padding-right: 50px !important;
    font-size: 20px;
    

}
.navbar-collapse {
    background-color: rgb(1, 1, 43) !important;
    height: 100px;
    position: sticky;
}

.navbar .navbar-nav li a:hover{
    color: yellow !important;
    

}
.Aboutus
{
    color: black;
    font-size: 80px;
    font-weight: bolder;
}
.Aboutus1
{
    color: red;
    font-size: 80px;
    font-weight: bolder;
}
.about-button:hover
{
    background-color: white !important;
    color: red !important;
    font: bold !important;
}
.h1
{
    font-weight: bold;
}
.p1
{
    color: slategrey;
    font-weight: bold;
}
.p2{
    color: blue;
}
#marketing{
    background-color: rgb(1, 1, 31);
    margin-top: 40px;
}

.head-market{
    font-size: 60px;
    color: white;
    font-weight: bolder;
   
}
.para{
    color: white;
    font-size: large;
}
.comment{
    font-size: 40px;
    font-weight: bolder;
    padding-top: 15px;
}
.comment-sub{
  font-weight: bold;
  font-size: 25px;
}
.comment-sub2{
    font-weight: bold;
    color: red;

}
.comment-sub3{
    color: grey;
   
}
.button-sub .btn{
    padding-top: 3px;
   
}
.button-sub .btn:hover
{
  
  background-color: black !important;

}
.form-post{
    font-size: 40px;
    font-weight: bold;
}

.form2{
    display: inline-flex;
    
}
.form-control1{
    height: 90px;
    width: 500px;
    margin-left: 10px;

}
.form-control3{
    height: 90px;
    width: 500px;
   margin-left: 10px;
   
}
.form-submit{
    height: 80px;
    width: 300px;
    
}
.submit{
    padding-top: 20px;
    text-align: center;
    
}
#blog{
    background-color: whitesmoke;
    height: 90vh;

}
.head-blog{
    font-size: 70px;
    font-weight: bold;
    padding-top: 50px;
    margin-left: 30px;
}
.blog-b{
    background-color: blue;
}
.tt img{
     
    margin-top: -50px;
}

.tt{
    margin-top: 100px;
    /* height: 550px; */
}
.review{
    margin-left: 30px;
    font: bold;
    font-size: 70px;


}
.card-title{
    font: bold;
    font-size: 40px;
}
.footer{
    background-color: rgb(5, 5, 53);
    margin-top: 150px;
   
}
.footer-1{
    color: white;
    
}
.footer .row{
    padding-top: 50px;
}
.footer ul {
    padding-top: 20px;
    color: white;
    font-size: 20px;
}
.footer img{
    padding-top: 20px;
}
@media (max-width:975px){
    .navbar-collapse{
        height: auto;
    }

}
@media(max-width:740px){
    .card-text{
        font-size: 13px;
    }
    .head-market{
        font-size: 13px;
    }
}

.login{
    font-size: 30px;
    color: red;
    font-weight: 700;
}












































